<body class="text-center" 
style="width: 30%; height: 30%; margin: auto;">
  <form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <a class="navbar-brand"
          style="color: black; font-size: 40px; font-family: 'FontAwesome', sans-serif" 
          href="/">
            <i class="bi bi-bookmark-heart"></i>
            Walmart Tinder
          </a> 
          <div> 
              <p>Bring you closer to be a true Alpha Male.</p>
          </div>       
          <h1 class="h3 mb-3 fw-normal">Register Form</h1>
    <hr>
    <div class="form-group">
      <label class="control-label" style="margin-right: 10px;">I am a</label>
      <label class="radio-inline" style="margin-right: 10px;">
        <input type="radio" value='male' formControlName='gender'> Male
      </label>
      <label class="radio-inline">
        <input type="radio" value='female' formControlName='gender' class="ml-3"> Female
      </label>
    </div>
    <app-text-input [formControl]='getControl("username")' [label]='"Username"'>
    </app-text-input>
    <app-text-input [formControl]='getControl("knownAs")' [label]='"Known As"'>
    </app-text-input>
    <app-date-input [formControl]='getControl("dateOfBirth")' [label]='"Date Of Birth"'
    [maxDate]='maxDate'>
    </app-date-input>
    <app-text-input [formControl]='getControl("country")' [label]='"Country"'>
    </app-text-input>
    <app-text-input [formControl]='getControl("city")' [label]='"City"'>
    </app-text-input>
    <app-text-input [formControl]='getControl("password")' [label]='"Password"'
    [type]='"password"'>
    </app-text-input>
    <app-text-input [formControl]='getControl("confirmPassword")' [label]='"Confirm Password"'
    [type]='"password"'>
    </app-text-input>
    <div class="row" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
          <li *ngFor="let error of validationErrors" >
              {{error}}
          </li>
      </ul>
    </div>
    <div class="form-group text-center">
      <button [disabled]='!registerForm.valid' class="btn btn-success" type='submit' style="margin-right: 10px;">Register</button>
      <button class="btn btn-primary mr-2" (click)="cancel()" type='cancel'>
        Cancel
      </button>
    </div>
  </form>
</body>